html {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height:100%;

}

body {
    width: 350px;
    margin: 0 auto;
    padding: 0;
    background-color: black;
    position: relative;
    height: 100%;
    clip-path: inset(0px 0px 0px);
}

#hidden {
    display: none;
}

.block {
    position: absolute;
    background-color: black;
    width:300px;
    height: 100%;
    transform: translateX(-100%);
    z-index: 100;
}

.container {
    position: absolute;
    border-radius: 30px;
    height: 700px;
    width: 350px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title-text {
    margin:35px;
    margin-top:60px;
    margin-bottom: 20px;
    color: #ADA4A5;
}

.name-text {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.bubble-wrap {
    position: relative;
    width:100%;
}

.text-bubble {
    height: 180px;
    width:280px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 10px 40px 0px #1D16171A;
    --smooth-corners: 13;
    mask-image: paint(smooth-corners);
    -webkit-mask-image: paint(smooth-corners);
    border-radius: 22px;
}

.text-wrap {
    position: relative;
    position: relative;
    height:100%;
    width:100%;
}

.text {
    text-align: left;
    position: absolute;
    font-size: 15px;
    font-weight: 700;
    color:white;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 20px;
}

.button {
    position: relative;
    width:130px; 
    height:45px;
    background-color: white;
    color:#C58BF2;
    border-radius: 30px;
    margin-top: 10px;
    cursor: pointer;
    transition-duration: 250ms;
}

.button:hover {
    transition-duration: 250ms;
    color:white;
}

.next {
    margin:35px;
    margin-top:20px;
    margin-bottom: 20px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.button2 {
    position: relative;
    width:70px; 
    height:30px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    color:white;
    border-radius: 30px;
    cursor: pointer;
    display:inline-block;
    margin-left: 10px;
}

.graph {
    margin:35px;
    margin-top:10px;
    margin-bottom: 20px;
}

.graph-img {
    width: 280px;
}

.menu-bar {
    position: absolute;
    width:100%;
    bottom: 0;
    height:70px;
    -webkit-box-shadow: 0px 2px 21px 11px rgba(0,0,0,0.19); 
    box-shadow: 0px 2px 21px 11px rgba(0,0,0,0.10);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    width: 20px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.icon-active {
    
}

.icon-container {
    position: relative;
    width:70px;
    height:70px;
    transition-duration: 250ms;
}

.icon-container:hover {
    transition-duration: 250ms;
}

.active {
    width:70px;
    height: 70px;
    background: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
    border-radius: 50px;
    transform: translateY(-20px);
    box-shadow: 0px 10px 22px rgba(149, 173, 254, 0.3);
}

.menu-bar li {
    list-style: none;
}

.footer {
    position: fixed;
    bottom: 0;
}